// Palette de base
$yellow: #f4d06f;
$orange: #ff8811;
$lightBlue: #9dd9d2;
$floralWhite: #fff8f0;
$darkBlue: #392f5a;
// Palette catégories
$color-6: #60992d;
$color-7: #8cae68;
$color-8: #b3a091;
$color-9: #d991ba;
$yellow0: #ebb9df;
$yellow1: #f5d5ed;
// Palette users
$yellow2: #ba9a26;
$yellow3: #eac435;
$yellow4: #345995;
$yellow5: #8c2d7e;
$yellow6: #e40066;
$yellow7: #746785;
$yellow8: #03cea4;
$yellow9: #7f8e71;
$orange0: #fb4d3d;



.area4_container{
    width: 100%;
    height: 600px;
}

.area4_top_container{
    height: 50%;
    background-color: $lightBlue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area4_bottom_container{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.area4_bottom_paragraphe{
    width: 500px;
    justify-content: center;
}

.area4_logo{
    width: 150px;
}

.area4_title_anim {
    animation: color-change 3s infinite;
  }
  
  @keyframes color-change {
    0% { color: #d9fcae; }
    33% { color: #c16200; }
    66% { color: rgb(252, 73, 73); }
    100% { color: #cbff8c; }
    
  }

  @media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .area4_top_title{
        text-align: center;
        width: 350px;
    }

    .area4_bottom_container{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .area4_bottom_paragraphe{
        font-size: 10px;
        width: 80vw;
    }
    .area4_logo{
        width: 100px;
    }
  }