.errorModal_container{
    width: 200px;
    height: 50px;
    background-color: red;
    position: fixed;
    top: 100px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* Définir la transition */
.errorModal_container.fade-in {
    animation: fade-in 2s;
  }

  /* Définir l'animation de fondu en entrée */
 @keyframes fade-in {
    0% { opacity: 0;
    width: 0%; }
    15% {opacity: 100%;
    width: 200px;}
    85% {opacity: 100%;
    width: 200px;}
    100% { opacity: 0;
    width: 0%; }
  }

.boutton{
    position: fixed;
    top: 200px;
    right: 200px;
}
 
