.area1_container{
    width: 100%;
    min-height: 80vh;
    max-height: 900px;
    background-image: linear-gradient(0.3turn, #9dd9d2 50%, rgba(0,0,255,0) 50%);
    background-size: 100% 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

/* left container */
.left_container{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    // Pour corriger le centrage verticale :
    margin-bottom: 40px;
}

.area1_title{
    display: block;
    font-size: 50px;
    height: 50px;
    color: #ff8811;
    text-shadow: 2px 2px rgb(255, 136, 17, 0.5);
}

.left_container_paragraphe{
    display: block;
    line-break: auto;
    width: 250px;
    text-align:center;
}

// Right container
.right_container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laundry_logo{
    width: 250px;
}




// Css pour mobile
@media (max-width: 800px) {
    .area1_container{
        width: 100vw;
        min-height: 80vh;
        max-height: 900px;
        background-image: linear-gradient(0.3turn, #9dd9d2 50%, rgba(0,0,255,0) 50%);
        background-size: 100% 100%;
        background-position: 0 50%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    /* left container */
    .left_container{
        width: 100%;
        display: flex;
        justify-content:space-between;
        gap: 40px;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
}