.colors_container{
    position: absolute;
    right: -35px;
    top: 292px;
    width: 100px;
    height: auto;
    background-color: #9dd9d2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.colors_button{
    cursor: pointer;
}

.colors1{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #ba9a26;
}
.colors2{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #eac435;
}
.colors3{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #345995;
}
.colors4{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #8c2d7e;
}
.colors5{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #e40066;
}
.colors6{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #746785;
}
.colors7{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #03cea4;
}
.colors8{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #7f8e71;
}
.colors9{
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #fb4d3d;
}