@use "../../../style/vars";

.Week {
  background-color: vars.$lightBlue;
  border-radius: 40px;
  padding: 1rem;
  display: flex;
  // max-width: 80%;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &-days {
    display: flex;
    height: 80vh;
    max-width: 100%;
  }
  &-day {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0.8rem 0 0.8rem;
  }
  &-dayName {
    flex-grow: 1;
    color: vars.$darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$yellow;
    border-radius: 15px;
    padding: 0.5rem 3rem;
    span {
      margin-right: 0.5rem;
    }
  }

  &-dayContainer {
    flex-grow: 3;
    border-right: 1px solid rgb(73, 191, 202);
    height: 100%;
    margin-top: 1rem;
    margin-right: -0.8rem;
  }
  &-dayContainer-last {
    border-right: none;
  }
  &-button {
    background-color: vars.$yellow;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: vars.$darkBlue;
    margin-left: 1rem;
    cursor: pointer;
  }
  &-task {
    background-color: vars.$floralWhite;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: normal;
    text-align: center;
    padding: 0.5rem 0.1rem;
    width: 85%;
    margin-bottom: 1rem;
    &__closed {
      display: flex;
      justify-content: space-around;
    }
    &__description{
      font-size: 1rem;
      color: vars.$darkBlue;
    }
    &__buttons{
      display: flex;
      margin-top: .5rem;
      justify-content: space-around;
    }
    &__button{
      background-color: vars.$lightBlue;
      border: none;
      border-radius: 30px;
      padding: .5rem;
      cursor: pointer;
    }
    &__arrow {
      display: flex;
      align-items: center;
      margin: auto;
      cursor: pointer;
      animation: slide-2 0.5s infinite alternate both cubic-bezier(1,-.01,0,.98);
    }
    &__arrow-top {
        margin: auto;
        cursor: pointer;
        transform: rotate(-180deg);
    }
  }
}
@keyframes slide-2{to{transform:translateY(3px)}}
