@use "../../../style/vars";

.Week {
  background-color: vars.$lightBlue;
  border-radius: 40px;
  max-width: 95%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  &-days {
    display: flex;
    background-color: vars.$lightBlue;
    border-radius: 40px;
    padding-top: 2rem;
    justify-content: space-around;
    height: 80vh;
    min-width: 100%;
    // margin: auto;
  }
  &-day {
    display: flex;
    flex-direction: column;
    width: 13%;
  }
  &-dayName {
    color: vars.$darkBlue;
    display: flex;
    font-weight: bold;
    font-size: 120%;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    background-color: vars.$yellow;
    border-radius: 15px;
    padding: 0.5rem 0 .5rem 0;
    span {
      margin-right: 0.5rem;
    }
  }
  &-dayContainer {
    border-right: 1px solid rgb(73, 191, 202);
    height: 100%;
    margin-top: 1rem;
  }
  &-dayContainer-last {
    border-right: none;
  }
  &-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: vars.$darkBlue;
    margin-left: 1rem;
    cursor: pointer;
    &:hover{
      color: darken(vars.$darkBlue, 40%)
    }
  }
  &-task {
    background-color: vars.$floralWhite;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: normal;
    text-align: center;
    padding: 0.5rem 0.1rem;
    width: 85%;
    margin-bottom: 1rem;
    &__closed {
      display: flex;
      justify-content: space-around;
    }
    &__description {
      font-size: 1rem;
      color: vars.$darkBlue;
    }
    &__category {
      font-size: 1.1rem;
      font-style: italic;
      color: vars.$darkBlue;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
      max-width: 100%;
      justify-content: space-around;
      font-size: 1rem;
    }
    &__button {
      background-color: vars.$lightBlue;
      border: none;
      width: 80%;
      border-radius: 30px;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0.2rem;
      cursor: pointer;
      &:hover{
        background-color: darken(vars.$lightBlue, 20%)
      }
    }

    &__arrow {
      display: flex;
      align-items: center;
      margin: auto;
      cursor: pointer;
      animation: slide-2 0.5s infinite alternate both
        cubic-bezier(1, -0.01, 0, 0.98);
    }
    &__arrow-top {
      margin: auto;
      cursor: pointer;
      transform: rotate(-180deg);
    }
    &__done {
      background-image: repeating-linear-gradient(
        -45deg,
        white 1px 2px,
        vars.$lightBlue 1px 4px
      );
      filter: blur(1.3px);
    }
  }
}
@keyframes slide-2 {
  to {
    transform: translateY(3px);
  }
}
@media screen and (max-width: 1380px) {
  .Week-dayName  {
    font-size: 80%; 
  }
  .Week-button{
    margin-left: .5rem;
  }
}
@media screen and (max-width: 900px) {
  .Week-dayName  {
    font-size: 70%; 
  }
  .Week-button{
    margin-left: .2rem;
    font-size: 150%;
  }
}
@media only screen and (max-width: 600px) {
  .Week {
    display: none;
  }
}
