// Palette de base
$yellow: #F4D06F;
$orange: #FF8811;
$lightBlue: #9DD9D2;
$floralWhite: #FFF8F0;
$darkBlue: #392F5A;

// Palette catégories
$color-6: #60992d;
$color-7: #8cae68;
$color-8: #b3a091;
$color-9: #d991ba;
$yellow0: #ebb9df;
$yellow1: #f5d5ed;
// Palette users
$yellow2: #ba9a26;
$yellow3: #eac435;
$yellow4: #345995;
$yellow5: #8c2d7e;
$yellow6: #e40066;
$yellow7: #746785;
$yellow8: #03cea4;
$yellow9: #7f8e71;
$orange0: #fb4d3d;