$yellow: #F4D06F;
$orange: #FF8811;
$lightBlue: #9DD9D2;
$floralWhite: #FFF8F0;
$darkBlue: #392F5A;

// Palette de base
$color-1: #f4d06f;
$color-2: #ff8811;
$color-3: #9dd9d2;
$color-4: #fff8f0;
$color-5: #392f5a;
// Palette catégories
$color-6: #60992d;
$color-7: #8cae68;
$color-8: #b3a091;
$color-9: #d991ba;
$color-10: #ebb9df;
$color-11: #f5d5ed;
// Palette users
$color-12: #ba9a26;
$color-13: #eac435;
$color-14: #345995;
$color-15: #8c2d7e;
$color-16: #e40066;
$color-17: #746785;
$color-18: #03cea4;
$color-19: #7f8e71;
$color-20: #fb4d3d;