@font-face {
    font-family: 'Arimo';
    src: url('../../public/fonts/Arimo/Arimo-Regular.woff2'),
     url('../../public/fonts/Arimo/Arimo-Bold.woff2'),
     url('../../public/fonts/Arimo/Arimo-BoldItalic.woff2'),
     url('../../public/fonts/Arimo/Arimo-Italic.woff2'),
     url('../../public/fonts/Arimo/Arimo-Medium.woff2'),
     url('../../public/fonts/Arimo/Arimo-MediumItalic.woff2');
}
body{
    font-family: 'Arimo';
}