@use "../../style/vars";
.Dashboard{
    padding: 7%;
}

.Dashboard-planners {
    display: flex;
    margin: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    //margin-left: 10rem;
}

.Dashboard-button{
    display: block;
    background-color: vars.$orange;
    border: none;
    border-radius: 5px;
    color: vars.$floralWhite;
    font-weight: bold;
    padding: 1rem 2.5rem;
}

.Dashboard-button:hover{
    cursor: pointer;
}

.Dashboard-button--hidden{
    visibility: hidden;
}
.Dashboard-planner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$lightBlue;
    border: none;
    padding: 1.5rem;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: 2rem 1.5rem 1.5rem 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    
}
.Dashboard-planner--hidden{
    visibility: hidden;
}
.Dashboard-planner h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.Dashboard-planner p {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}
@keyframes slide-2{to{transform:translateY(3px)}}
.Dashboard-arrow{
    animation: slide-2 0.5s infinite alternate both cubic-bezier(1,-.01,0,.98);
    margin: auto;
    cursor: pointer;
}
