@use "../../style/vars";
.Dashboard{
    padding: 8%;
    &-planners{
        display: flex;
        justify-content: flex-start;  
    }
    &-button{
        display: block;
        background-color: vars.$orange;
        border: none;
        border-radius: 5px;
        color: vars.$floralWhite;
        font-weight: bold;
        padding: 1rem 2.5rem;
        cursor: pointer;
        &:hover{
            background-color: darken(vars.$orange, 7%)
        }
        &--hidden{
            visibility: hidden;
        }
    }
    &-planner{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: vars.$lightBlue;
        border: none;
        padding: 1.5rem;
        border-radius: 10px;
        width: 300px;
        margin: 2rem 1.5rem 1.5rem 0;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        &--hidden{
            visibility: hidden;
        }
        &__title{
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            color: vars.$darkBlue;
            background-color: transparent;
        }
        &__description{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-wrap: break-word;
            margin-bottom: 1rem;
            color: vars.$darkBlue;
            background-color: transparent;
        }
        &__block{
            display: flex;
            justify-content: space-around;
            & p{
                width: 80%;
            }
        }
        &__button{
            display: block;
            margin-bottom: 1rem;
            background-color: vars.$darkBlue;
            color: white;
            font-weight: bold;
            padding: 0.7rem 2rem;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: darken(vars.$darkBlue, 8%)
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .Dashboard{
        padding: 16%;
    }
    .Dashboard-planners {
      flex-direction: column;
      align-items: center;
    }
  }

 