.Table {
  position: absolute;
  top: 50px;
  width: 100vw;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-more {
    cursor: pointer;
  }
  &-less {
    cursor: pointer;
  }
  &-header {
    //je cherche à fixer horizontalement au scroll mais ne fonctionne pas
    overflow-x: hidden;
    display: flex;
  }
  &-container{
    max-width: 100vw;
  }
}

