.Table {
  padding: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-more {
    cursor: pointer;
  }
  &-less {
    cursor: pointer;
  }
  &-header {
    display: flex;
    margin-bottom: 1rem;
  }
  &-container{
    width: 100vw;
    overflow-x: auto;
  }
}
