.Table {
  position: absolute;
  top: 50px;
  width: 100vw;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-more {
    cursor: pointer;
  }
  &-less {
    cursor: pointer;
  }
}